@import "mixins";
/* Large desktop */
@media ( min-width : 980px){
	.aui .quartzscheduler-portlet .taglib-page-iterator .lfr-pagination-config{
		float:left;
		width: 50%;	
	}

	.aui .quartzscheduler-portlet .taglib-page-iterator .search-results{
		float:right;
		width: 50%;
		margin: 0 0 0 0;
		text-align: right;
	}
	
	.aui .quartzscheduler-portlet .pager.lfr-pagination-buttons{
		text-align: none;
		width: 100%;
		margin: -38px auto 0 auto;
	}
}

/* Portrait tablet to landscape and desktop */
@media ( min-width : 768px) and (max-width: 979px) {
	.aui .quartzscheduler-portlet .table{
		width: auto;
		max-width: 979px;
		min-width: 768px;
	}
	
	.aui .quartzscheduler-portlet .table th, .aui .quartzscheduler-portlet .table td{
		overflow: hidden;
		word-wrap: break-word;
		width: auto;
		max-width: 60px;
		min-width: 43px;
	}
}

/* Landscape phone to portrait tablet */
@media ( max-width : 767px) {
	.aui .quartzscheduler-portlet .table{
		width: auto;
		max-width: 767px;
		min-width: 481px;
	}
	
	.aui .quartzscheduler-portlet .table th, .aui .quartzscheduler-portlet .table td{
		overflow: hidden;
		word-wrap: break-word;
		width: auto;
		max-width: 42px;
	}
}

/* Landscape phones and down */
@media ( max-width : 480px) {
	.aui .quartzscheduler-portlet .table{
		width: auto;
		max-width: 480px;
	}
}