@import url(main_responsive.css);

@import "compass";

.aui .pager li>a,.aui .pager li>span {
	display: inline-block;
	*display: inline;
	padding: 4px 12px;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	*background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	*border: 0;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',
		endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	*zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
}

/***** .btn.btn-large.btn-primary.icon-play *****/
.btn.btn-large.btn-primary.icon-play {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	*background-color: #0044cc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc),
		to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',
		endColorstr='#ff0044cc', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn.btn-large.btn-primary.icon-play:hover,.btn.btn-large.btn-primary.icon-play:focus,.btn.btn-large.btn-primary.icon-play:active,.btn.btn-large.btn-primary.icon-play.active,.btn.btn-large.btn-primary.icon-play.disabled,.btn.btn-large.btn-primary.icon-play[disabled]
	{
	color: #ffffff;
	background-color: #0044cc;
	*background-color: #003bb3;
}

.btn.btn-large.btn-primary.icon-play:active,.btn.btn-large.btn-primary.icon-play.active
	{
	background-color: #003399 \9;
}

/***** End .btn.btn-large.btn-primary.icon-play *****/

/***** .btn.btn-large.btn.btn-large.btn-warning.icon-pause.icon-pause *****/
.btn.btn-large.btn-warning.icon-pause {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	*background-color: #f89406;
	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450),
		to(#f89406));
	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
	background-image: -o-linear-gradient(top, #fbb450, #f89406);
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450',
		endColorstr='#fff89406', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn.btn-large.btn-warning.icon-pause:hover,.btn.btn-large.btn-warning.icon-pause:focus,.btn.btn-large.btn-warning.icon-pause:active,.btn.btn-large.btn-warning.icon-pause.active,.btn.btn-large.btn-warning.icon-pause.disabled,.btn.btn-large.btn-warning.icon-pause[disabled]
	{
	color: #ffffff;
	background-color: #f89406;
	*background-color: #df8505;
}

.btn.btn-large.btn-warning.icon-pause:active,.btn.btn-large.btn-warning.icon-pause.active
	{
	background-color: #c67605 \9;
}
/***** End .btn.btn-warning.icon-pause *****/

/***** .btn.btn-large.btn-danger.icon-off *****/
.btn.btn-large.btn-danger.icon-off {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	*background-color: #bd362f;
	background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b),
		to(#bd362f));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b',
		endColorstr='#ffbd362f', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn.btn-large.btn-danger.icon-off:hover,.btn.btn-large.btn-danger.icon-off:focus,.btn.btn-large.btn-danger.icon-off:active,.btn.btn-large.btn-danger.icon-off.active,.btn.btn-large.btn-danger.icon-off.disabled,.btn.btn-large.btn-danger.icon-off[disabled]
	{
	color: #ffffff;
	background-color: #bd362f;
	*background-color: #a9302a;
}

.btn.btn-large.btn-danger.icon-off:active,.btn.btn-large.btn-danger.icon-off.active
	{
	background-color: #942a25 \9;
}
/***** End .btn.btn-large.btn-danger.icon-off *****/

/***** .btn.btn-large.btn-success.icon-refresh *****/
.btn.btn-large.btn-success.icon-refresh {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	*background-color: #51a351;
	background-image: -moz-linear-gradient(top, #62c462, #51a351);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462),
		to(#51a351));
	background-image: -webkit-linear-gradient(top, #62c462, #51a351);
	background-image: -o-linear-gradient(top, #62c462, #51a351);
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',
		endColorstr='#ff51a351', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn.btn-large.btn-success.icon-refresh:hover,.btn.btn-large.btn-success.icon-refresh:focus,.btn.btn-large.btn-success.icon-refresh:active,.btn.btn-large.btn-success.icon-refresh.active,.btn.btn-large.btn-success.icon-refresh.disabled,.btn.btn-large.btn-success.icon-refresh[disabled]
	{
	color: #ffffff;
	background-color: #51a351;
	*background-color: #499249;
}

.btn.btn-large.btn-success.icon-refresh:active,.btn.btn-large.btn-success.icon-refresh.active
	{
	background-color: #408140 \9;
}

/***** End .btn.btn-large.btn-success.icon-refresh *****/

/***** .quartzscheduler-portlet .btn-group  *****/
.aui .quartzscheduler-portlet .btn-group .btn {
	-webkit-border-radius: 6px 6px 6px 6px;
	/* Android ² 1.6, iOS 1-3.2, Safari 3-4 */
	border-radius: 6px 6px 6px 6px;
	/* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
}

.aui .btn-group.scheduler-job-actions .btn:first-child,.aui .btn-group.refresh .btn:first-child
	{
	margin: 5px 5px 0 0;
}

/***** .ie8 hacks *****/
.aui.ie8 .taglib-page-iterator .lfr-pagination-config {
	float: left;
	width: 50%;
}

.aui.ie8 .taglib-page-iterator .search-results {
	float: right;
	width: 50%;
	margin: 0 0 0 0;
	text-align: right;
}

.aui.ie8 .quartzscheduler-portlet .pager.lfr-pagination-buttons {
	text-align: none;
	width: 100%;
	margin: -38px auto 0 auto;
}

#schedulerManager .modal.yui3-widget-modal {
	z-index: 1 !important;
}

.clearfix.lfr-pagination {
	display: block;
}

.yui3-widget-mask {
    z-index: 1 !important;
}

.scheduled-job-manager-portlet .portlet-topper {
    display: none;
}